<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CrawlerEntities" connectionString="metadata=res://*/CrawlerModel.csdl|res://*/CrawlerModel.ssdl|res://*/CrawlerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.237.147.140;initial catalog=Crawler;persist security info=True;user id=sa;password=a123456Az@;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>